*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form{
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    /* 这会使元素内的文本（或行内元素）居中显示。 */
    width: 100%;
    /* 内容将填满整个容器 */
    max-width: 400px;
    /* 容器最大宽度为400px */
}

h2{
    margin-bottom: 20px;
    font-size: 24px;
    color: #555;
}

.input-group{
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    /* 块级元素，单独成行 */
    margin-bottom: 8px;
    font-size: 14px;
    color: #777;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    /* 边框实线 */
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* 当鼠标移动到此元素上，光标会变成小手 */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}


@media (max-width: 480px) {
    #form {
        width: 90%;
        padding: 20px;
    }
}
/* 当浏览器像素等于小于480px，表单盒子 */